<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_emahawangsa"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_emahawangsa_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HRMApps"
        tools:targetApi="tiramisu">
        <activity
            android:name=".ui.view.fragment.DetailNoticeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.staff.activity.ChangeEmailStaffActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.staff.activity.ChangePasswordStaffActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.staff.activity.ProfileStaffActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.staff.activity.AddNewFormLeaveStaffActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.staff.activity.CameraCheckInStaffActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.staff.activity.PresentCheckInStaffActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.staff.activity.LeaveStaffActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.staff.activity.StaffMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.staff.activity.TimeSheetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.personil.activity.CameraPatrolActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.personil.activity.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.personil.activity.PatrolActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.personil.activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.personil.activity.ChangeEmailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.personil.activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.personil.activity.RequestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.personil.activity.AddNewFormLeaveActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.personil.activity.LeaveActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.personil.activity.PresentCheckInActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.personil.activity.CameraCheckInActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/MAPS_API_KEY" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>